
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
}


body{
    width: 80%;
    margin: 30px auto;
}

.bodyHeader {
    width: 100%;
    padding: 20px;
    background: lightgrey;

}
.bodyHeader__navListLink {
    width: 100%;
    list-style: none;
    display: block;
}
.bodyHeader__navItemLink{
    display: inline-block;
    margin: 10px 20px;
}
